/* Add your CSS rules for styling the Navbar here */
.navbar {
    background-color:green; /* Change this to your desired background color */
    color: #fff; /* Change this to your desired text color */
    padding: 10px;
  }
  
  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navButton {
    margin-left: 20px;
    padding: 5px 10px;
    background-color: white; /* Change this to your desired button background color */
    border: none;
    color: #fff; /* Change this to your desired button text color */
    cursor: pointer;
  }
  
  .navButton:hover {
    background-color: #777; /* Change this to your desired hover background color */
  }
  