
.navbar {
    background-color:  rgb(49, 200, 90); 
    box-shadow: 0px 2px 4px hsla(121, 45%, 67%, 0.1);
    padding: 10px 0;
    color: grey;
    
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color:gray;
    padding: 8px 15px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.logo:hover{
    background-color: white;
    color: grey;  
}
.menuButton {
    display: none; /* Hide the menu button by default */
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: grey;
}

.navitems {
    display: flex;
    align-items: center;
}

.navButton {
    margin-left: 20px;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    color:grey;
    background-color: transparent;
    border: 2px solid #3faa46;
   text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navButton:hover {
    background-color: #3faa46;
    color: white;
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
    .navContainer {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
    
    .menuButton {
        display: block; /* Show the menu button for smaller screens */
    }
    
    .navitems {
        display: none; /* Hide the navigation items initially */
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }

    .navButton {
        margin: 5px 0;
    }

    .navContainer.active .navitems {
        display: flex; /* Show navigation items when the menu button is clicked */
    }
}
